<td><%= name %></td>
<td><%= businessType %></td>
<td><%= category %></td>
<td><%= applicationType %></td>
<td><%= applicationBudget %></td>
<td><%= applicationContract %></td>
<td><%= trainingFormat %></td>
<td><%= trainingTopic %></td>
<td><%= trainingGroupSize %></td>
<td><%= discussionTopic %></td>
<td><%= phone %></td>
<td><%= email %></td>
<td><%= contactPreference %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>