<h1>New inquiry</h1>

<form id="new-inquiry" name="inquiry">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value=<%= name %> >
  </div>

  <div class="field">
    <label for="businessType"> businessType:</label>
    <input type="text" name="businessType" id="businessType" value=<%= businessType %> >
  </div>

  <div class="field">
    <label for="category"> category:</label>
    <input type="text" name="category" id="category" value=<%= category %> >
  </div>

  <div class="field">
    <label for="applicationType"> applicationType:</label>
    <input type="text" name="applicationType" id="applicationType" value=<%= applicationType %> >
  </div>

  <div class="field">
    <label for="applicationBudget"> applicationBudget:</label>
    <input type="text" name="applicationBudget" id="applicationBudget" value=<%= applicationBudget %> >
  </div>

  <div class="field">
    <label for="applicationContract"> applicationContract:</label>
    <input type="text" name="applicationContract" id="applicationContract" value=<%= applicationContract %> >
  </div>

  <div class="field">
    <label for="trainingFormat"> trainingFormat:</label>
    <input type="text" name="trainingFormat" id="trainingFormat" value=<%= trainingFormat %> >
  </div>

  <div class="field">
    <label for="trainingTopic"> trainingTopic:</label>
    <input type="text" name="trainingTopic" id="trainingTopic" value=<%= trainingTopic %> >
  </div>

  <div class="field">
    <label for="trainingGroupSize"> trainingGroupSize:</label>
    <input type="text" name="trainingGroupSize" id="trainingGroupSize" value=<%= trainingGroupSize %> >
  </div>

  <div class="field">
    <label for="discussionTopic"> discussionTopic:</label>
    <input type="text" name="discussionTopic" id="discussionTopic" value=<%= discussionTopic %> >
  </div>

  <div class="field">
    <label for="phone"> phone:</label>
    <input type="text" name="phone" id="phone" value=<%= phone %> >
  </div>

  <div class="field">
    <label for="email"> email:</label>
    <input type="text" name="email" id="email" value=<%= email %> >
  </div>

  <div class="field">
    <label for="contactPreference"> contactPreference:</label>
    <input type="text" name="contactPreference" id="contactPreference" value=<%= contactPreference %> >
  </div>

  <div class="actions">
    <input type="submit" value="Create Inquiry" />
  </div>

</form>

<a href="#/index">Back</a>