<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Businesstype:</b>
  <%= businessType %>
</p>

<p>
  <b>Category:</b>
  <%= category %>
</p>

<p>
  <b>Applicationtype:</b>
  <%= applicationType %>
</p>

<p>
  <b>Applicationbudget:</b>
  <%= applicationBudget %>
</p>

<p>
  <b>Applicationcontract:</b>
  <%= applicationContract %>
</p>

<p>
  <b>Trainingformat:</b>
  <%= trainingFormat %>
</p>

<p>
  <b>Trainingtopic:</b>
  <%= trainingTopic %>
</p>

<p>
  <b>Traininggroup size:</b>
  <%= trainingGroupSize %>
</p>

<p>
  <b>Discussiontopic:</b>
  <%= discussionTopic %>
</p>

<p>
  <b>Phone:</b>
  <%= phone %>
</p>

<p>
  <b>Email:</b>
  <%= email %>
</p>

<p>
  <b>Contactpreference:</b>
  <%= contactPreference %>
</p>


<a href="#/index">Back</a>