#post
  %h1.title
    Create a New User
  #entry
    - if @user.errors.any?
      #error_explanation
        %h2
          = pluralize(@user.errors.count, "error")
          %ul
          - @user.errors.full_messages.each do |msg|
            %li
              =msg
    %fieldset
      - form_for @user do |f|
        .section
          %label Email:
          %br
          = f.text_field :email, :size => 50
          %br
          %label Password:
          %br
          = f.password_field :password, :size => 50
          %br
          %label Confirm Password:
          %br
          = f.password_field :password_confirmation, :size => 50
        .section
          = submit_tag 'Submit'

