#post
  %h1.title
    Locations
  #entry
    = link_to 'new', new_location_path
    %table
      %thead
        %td
        %td Name
        %td City
        %td Twitter Hashtag
      - @locations.each do |location|
        %tr
          %td= link_to 'edit', edit_location_path(location.id)
          %td= location.name
          %td= location.city
          %td= location.hashtag