!!! html
%html
  %head
    %title Zambia
    = stylesheet_link_tag :all 
    = javascript_include_tag :defaults 
    = csrf_meta_tag 
  %body
    #header
      %h1
        %a(href="/") code & coffee
    #sidebar
      %ul
        %li
          %h2 Details
          %ul
            %li What:  Drink coffee, write code
            %li
              Where:
              %a(href="/location/index") view locations 
              \/
              %a(href="/location/new") create location
            %li When:  Mornings, before work
            %li Why:  Why not?
            %li
              - if current_user
                Welcome 
                = current_user["provider"]
                %br
                = link_to "Sign Out", signout_path
              -else
                Sign In With: 
                = link_to "Twitter", "/auth/twitter"
    #page
      #content
        = yield 
    #footer
      %hr
      Copyright &copy; 2010 code and coffee inc, all rights reserved
    
